:root {
  color-scheme: light dark;

  --bg-color: light-dark(#f9f5d7, #1d2021);
  --text-color: light-dark(#282828, #fbf1f7);
}

body {
  /* Layout */
  height: 100vh - 40px;
  margin: 40px auto;
  max-width: 750px;

  /* Theme */
  line-height: 1.6;
  font-size: 1.125em;
  font-family: var(--jetbrains-mono);
  color: var(--text-color);
  background-color: var(--bg-color);
}

@media (max-width: 768px) {
  body {
    margin: 20px 20px;
    font-size: 1em;
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  color: inherit;
}

.centered-container {
  position: absolute;
  width: 30%;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .centered-container {
    width: 90%;
  }
}
