body {
  /* Layout */
  height: 100vh;
  margin: 40px auto;
  max-width: 750px;

  /* Theme */
  line-height: 1.6;
  font-size: 1.125em;
  font-family: var(--noto-serif);
  color: #282828;
  background-color: #f9f5d7;
}

@media (max-width: 768px) {
  body {
    margin: 20px 20px;
    font-size: 1em;
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  color: inherit;
}
