body {
  margin: auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  font-family: var(--noto-serif), serif;
  color: #282828;
  background-color: #f9f5d7;
  padding: 0 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul li::marker {
  content: "- ";
  font-weight: bold;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  color: inherit;
}
